<main>
    <h1>ADM. Services</h1>

    <section class='section-options-filter'>
        <h3>Select one option</h3>
        <div class='radio-button-group'>
            <div class='radio-button-option'>
                <input type='radio' name='option' value='create' {{#if (eq radioChecked 'create')}}checked{{/if}}><label for='create'>Create Service</label>
            </div>
            <div class='radio-button-option'>
                <input type='radio' name='option' value='update' {{#if (eq radioChecked 'update')}}checked{{/if}}><label for='update'>Update Service</label>
            </div>
            <div class='radio-button-option'>
                <input type='radio' name='option' value='delete' {{#if (eq radioChecked 'delete')}}checked{{/if}}><label for='delete'>Delete Service</label>
            </div>
        </div>
    </section>

    <div id='createSection' class='section-list-panel-product hidden'>
        {{#if successCreateMessage_Panel_Service}}
            <div id='MessageSuccess' class='container-message-visible'>
                <div class='container-message success-color'>
                    <span class='container-message-span'>{{successCreateMessage_Panel_Service}}</span>
                    <button class='button-closed' onclick="CloseMessageSuccess()">
                        <svg class='icon-X' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'>
                          <path stroke-linecap='round' stroke-linejoin='round' d='M6 18 18 6M6 6l12 12' />
                        </svg>
                    </button>
                </div>
            </div>
        {{/if}}
        
        {{#if failedCreateMessage_Panel_Service}}
            <div id='MessageFailed' class='container-message-visible'>
                <div class='container-message warning-color'>
                    <span class='container-message-span'>{{failedCreateMessage}}</span>
                    <button class='button-closed' onclick="CloseMessageFailed()">
                        <svg class='icon-X' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'>
                          <path stroke-linecap='round' stroke-linejoin='round' d='M6 18 18 6M6 6l12 12' />
                        </svg>
                    </button>
                </div>
            </div>
        {{/if}}

        <article class='article-create'>
            <form method='POST'>
                <div class='article-content-form'>
                    <div class='content-group'>
                        <input type='text' name='serviceName' placeholder='Service Name'>
                        <input type='number' name='servicePrice' placeholder='price'>
                    </div>

                    <textarea class='service-width' name='serviceDescription' placeholder='Detail from product'></textarea>

                    <div class='content-group-file'>
                        <label for='fileUploadCreate' class='custom-file-label'>Upload your image</label>
                        <input type='file' id='fileUploadCreate' class='hidden' accept='.webp'>
                        <p id='fileNameCreate'>No file has been selected.</p>
                        <input type='text' id='base64Create' name='base64Create' class='hidden'>
                    </div>

                    <input type='submit' value='Create Service'>
                </div>
            </form>
        </article>
    </div>

    <div id='updateSection' class='section-list-panel-product hidden'>
        {{#if successUpdateMessage_Panel_Service}}
            <div id='MessageSuccess' class='container-message-visible'>
                <div class='container-message success-color'>
                    <span class='container-message-span'>{{successUpdateMessage_Panel_Service}}</span>
                    <button class='button-closed' onclick="CloseMessageSuccess()">
                        <svg class='icon-X' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'>
                          <path stroke-linecap='round' stroke-linejoin='round' d='M6 18 18 6M6 6l12 12' />
                        </svg>
                    </button>
                </div>
            </div>
        {{/if}}
        
        {{#if failedUpdateMessage_Panel_Service}}
            <div id='MessageFailed' class='container-message-visible'>
                <div class='container-message warning-color'>
                    <span class='container-message-span'>{{failedUpdateMessage_Panel_Service}}</span>
                    <button class='button-closed' onclick="CloseMessageFailed()">
                        <svg class='icon-X' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'>
                          <path stroke-linecap='round' stroke-linejoin='round' d='M6 18 18 6M6 6l12 12' />
                        </svg>
                    </button>
                </div>
            </div>
        {{/if}}

        {{#each serviceList}}
            <section class='section-list-panel-service'>
                <form method='POST' action='/admServices/panelService/:_{{_id}}'>
                    <article class='article-result-product-service'>
                        <img class='result-service-ADM' src='{{imgService}}' alt='Representative image of the service.'>
                        <div class='container-panel-service'>
                            <div class='detail-service'>
                                <div class='detail-service-group'>
                                    <div class='container-service-information'>
                                        <span>Title</span>
                                        <input class='text-input-editable' type='text' value='{{title}}' name='serviceName'>
                                    </div>

                                    <div class='container-service-information'>
                                        <span>Price</span>
                                        <input type='text' name='price' value='{{price}}'>
                                    </div>
                                </div>

                                <div class='container-new-description'>
                                    <span>Description</span>
                                    <textarea class='text-area-editable-service' name='description'>{{detail}}</textarea>
                                </div>
                                
                                <div class='detail-product-description'>
                                    <div class='content-group-file'>
                                        <label for='fileUploadUpdate{{_id}}' class='custom-file-label' onclick="fileLoad('{{_id}}')">Upload your image</label>
                                        <input type='file' id='fileUploadUpdate{{_id}}' accept='.webp' class='hidden'>
                                        <p id='fileNameUpdate{{_id}}'>No file has been selected.</p>
                                        <input type='text' id='base64Update{{_id}}' name='base64Update' class='hidden'>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <button type='submit'>
                            <svg class='svg' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'>
                              <path stroke-linecap='round' stroke-linejoin='round' d='m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10' />
                            </svg>
                        </button>
                    </article>
                </form>
            </section>
        {{/each}}
    </div>

    <div id='deleteSection' class='section-list-panel-product hidden'>
        {{#if successDeleteMessage_Panel_Service}}
            <div id='MessageSuccess' class='container-message-visible'>
                <div class='container-message success-color'>
                    <span class='container-message-span'>{{successDeleteMessage_Panel_Service}}</span>
                    <button class='button-closed' onclick="CloseMessageSuccess()">
                        <svg class='icon-X' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'>
                          <path stroke-linecap='round' stroke-linejoin='round' d='M6 18 18 6M6 6l12 12' />
                        </svg>
                    </button>
                </div>
            </div>
        {{/if}}
        
        {{#if failedDeleteMessage_Panel_Service}}
            <div id='MessageFailed' class='container-message-visible'>
                <div class='container-message warning-color'>
                    <span class='container-message-span'>{{successDeleteMessage_Panel_Service}}</span>
                    <button class='button-closed' onclick="CloseMessageFailed()">
                        <svg class='icon-X' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'>
                          <path stroke-linecap='round' stroke-linejoin='round' d='M6 18 18 6M6 6l12 12' />
                        </svg>
                    </button>
                </div>
            </div>
        {{/if}}
    
        {{#each serviceList}}
            <section class='section-list-panel-service'>
                <form method='GET' action='/admServices/panelService/:_{{_id}}'>
                    <article class='article-result-product-service'>
                        <img class='result-service-ADM' src='{{imgService}}' alt='Representative image of the service.'>
                        <div class='container-panel-service'>
                            <div class='detail-service-delete'>
                                <div class='container-delete-information'>
                                    <h3>Service</h3>
                                    <span>{{title}}</span>
                                </div>

                                <div class='container-delete-information'>
                                    <h3>Price</h3>
                                    <span>{{price}}</span>
                                </div>

                                <div class='container-delete-information'>
                                    <h3>Description</h3>
                                    <span>{{detail}}</span>
                                </div>
                            </div>
                        </div>
                        <button type='submit'>
                            <svg class='svg' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' strokeWidth={1.5} stroke='currentColor' className='size-6'>
                              <path strokeLinecap='round' strokeLinejoin='round' d='m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0' />
                            </svg>
                        </button>
                    </article>
                </form>
            </section>
        {{/each}}
    </div>
</main>