<main>
    <h1>ADM. Products</h1>
    <section class='section-options-filter'>
        <h3>Select one option</h3>
        <div class='radio-button-group'>
            <input type='radio' name='option' value='create' {{#if (eq radioChecked 'create')}}checked{{/if}}><label for='create'>Create Product</label>
            <input type='radio' name='option' value='update' {{#if (eq radioChecked 'update')}}checked{{/if}}><label for='update'>Update Product</label>
            <input type='radio' name='option' value='delete' {{#if (eq radioChecked 'delete')}}checked{{/if}}><label for='delete'>Delete Product</label>
        </div>
    </section>  
    
    <div class='section-list-panel-product hidden' id='createSection'>
        {{#if successCreateMessage_Panel_Product}}
            <div id='MessageSuccess' class='container-message-visible'>
                <div class='container-message success-color'>
                    <span class='container-message-span'>{{successCreateMessage_Panel_Product}}</span>
                    <button class='button-closed' onclick="CloseMessageSuccess()">
                        <svg class='icon-X' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'>
                          <path stroke-linecap='round' stroke-linejoin='round' d='M6 18 18 6M6 6l12 12' />
                        </svg>
                    </button>
                </div>
            </div>
        {{/if}}

        {{#if failedCreateMessage_Panel_Product}}
            <div id='MessageFailed' class='container-message-visible'>
                <div class='container-message warning-color'>
                    <span class='container-message-span'>{{failedCreateMessage_Panel_Product}}</span>
                    <button class='button-closed' onclick="CloseMessageFailed()">
                        <svg class='icon-X' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'>
                          <path stroke-linecap='round' stroke-linejoin='round' d='M6 18 18 6M6 6l12 12' />
                        </svg>
                    </button>
                </div>
            </div>
        {{/if}}

        <article class='article-create'>
            <form method='POST'>
                <div class='article-content-form'>
                    <div class='content-group'>
                        <input type='text' name='productName' placeholder='Product name'>
                        <input type='number' name='productQuantity' placeholder='Quantity'>
                    </div>

                    <div class='content-group'>
                        <input type='text' name='productUnit' placeholder='Unit'>
                        <input type='number' name='productPrice' placeholder='Product price'>
                    </div>

                    <textarea class='text-area-create' name='productDescription' placeholder='Detail from service'></textarea>

                    <div class='content-group-file'>
                        <label for='fileUploadCreate' class='custom-file-label'>Upload your image</label>
                        <input type='file' id='fileUploadCreate' accept='.webp' class='hidden'>
                        <p id='fileNameCreate'>No file has been selected.</p>
                        <input class='hidden' type='text' id='base64Create' name='base64Create'>
                    </div>

                    <input type='submit' value='Create Product'>
                </div>
            </form>
        </article>
    </div>

    <div id='updateSection' class='section-list-panel-product hidden'>
        {{#if successUpdateMessage_Panel_Product}}
            <div id='MessageSuccess' class='container-message-visible'>
                <div class='container-message success-color'>
                    <span class='container-message-span'>{{successUpdateMessage_Panel_Product}}</span>
                    <button class='button-closed' onclick="CloseMessageSuccess()">
                        <svg class='icon-X' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'>
                          <path stroke-linecap='round' stroke-linejoin='round' d='M6 18 18 6M6 6l12 12' />
                        </svg>
                    </button>
                </div>
            </div>
        {{/if}}
        
        {{#if failedUpdateMessage_Panel_Product}}
            <div id='MessageFailed' class='container-message-visible'>
                <div class='container-message warning-color'>
                    <span class='container-message-span'>{{failedUpdateMessage_Panel_Product}}</span>
                    <button class='button-closed' onclick="CloseMessageFailed()">
                        <svg class='icon-X' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'>
                          <path stroke-linecap='round' stroke-linejoin='round' d='M6 18 18 6M6 6l12 12' />
                        </svg>
                    </button>
                </div>
            </div>
        {{/if}}
        
        {{#each productsList}}
            <section class='section-result-products'>
                <form method='POST' action='/admProducts/panelProduct/:_{{_id}}'>
                    <article class='article-result-product-service'>
                        <img class='panel-result-img' src='{{imgProduct}}' alt='Representative image of the product.'>
                        <div class='container-panel-product'>
                            <div class='detail-product-update'>
                                <div class='container-product-information'>
                                    <span>Title</span>
                                    <input type='text' value='{{title}}' name='productUpdateName'>
                                </div>

                                <div class='container-product-information'>
                                    <span>Amount</span>
                                    <input type='number' value='{{quantity}}' name='productUpdateQuantity'>
                                </div>

                                <div class='container-product-information'>
                                    <span>Price</span>
                                    <input type='number' value='{{price}}' name='productUpdatePrice'>
                                </div>
                            </div>

                            <div class='detail-product-description'>
                                <div class='container-product-information'>
                                    <span>Description</span>
                                    <textarea class='text-area-editable-product' name='productUpdateDescription'>{{detail}}</textarea>
                                </div>
                            </div>

                            <div class='detail-product-description'>
                                <div class='content-group-file'>
                                    <label for='fileUploadUpdate{{_id}}' class='custom-file-label' onclick="fileLoad('{{_id}}')">Upload your image</label>
                                    <input type='file' id='fileUploadUpdate{{_id}}' accept='.webp' class='hidden'>
                                    <p id='fileNameUpdate{{_id}}'>No file has been selected.</p>
                                    <input type='text' id='base64Update{{_id}}' name='base64Update' class='hidden'>
                                </div> 
                            </div>
                        </div>
                        <button type='submit'>
                            <svg class='svg' xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                              <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                            </svg>
                        </button>
                    </article>
                </form>
            </section>
        {{/each}}
    </div>

    <div id='deleteSection' class='section-list-panel-product hidden'>
        {{#if successDeleteMessage_Panel_Product}}
            <div id='MessageSuccess' class='container-message-visible'>
                <div class='container-message success-color'>
                    <span class='container-message-span'>{{successDeleteMessage_Panel_Product}}</span>
                    <button class='button-closed' onclick="CloseMessageSuccess()">
                        <svg class='icon-X' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'>
                          <path stroke-linecap='round' stroke-linejoin='round' d='M6 18 18 6M6 6l12 12' />
                        </svg>
                    </button>
                </div>
            </div>
        {{/if}}
        
        {{#if failedDeleteMessage}}
            <div id='MessageFailed' class='container-message-visible'>
                <div class='container-message warning-color'>
                    <span class='container-message-span'>{{successDeleteMessage}}</span>
                    <button class='button-closed' onclick="CloseMessageFailed()">
                        <svg class='icon-X' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'>
                          <path stroke-linecap='round' stroke-linejoin='round' d='M6 18 18 6M6 6l12 12' />
                        </svg>
                    </button>
                </div>
            </div>
        {{/if}}
        
        {{#each productsList}}
            <section class='section-result-products'>
                <form method='GET' action='/admProducts/panelProduct/:_{{_id}}'>
                    <article class='article-result-product-service'>
                        <img class='panel-result-img' src='{{imgProduct}}' alt='Representative image of the product.'>
                        <div class='container-panel-product-delete'>
                            <div class='detail-product-ADM'>
                                <div class='container-delete-information'>
                                    <h3>Product</h3>
                                    <span>{{title}}</span>
                                </div>
                                <div class='container-delete-information'>
                                    <h3>Amount</h3>
                                    <span>{{quantity}} {{unit}}</span>
                                </div>

                                <div class='container-delete-information'>
                                    <h3>Price</h3>
                                    <span>{{price}}</span>
                                </div>

                                <div class='container-delete-information'>
                                    <h3>Description</h3>
                                    <span>{{detail}}</span>
                                </div>
                            </div>
                        </div>
                        <button type='submit'>
                            <svg class='svg' xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
                              <path strokeLinecap="round" strokeLinejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                            </svg>
                        </button>
                    </article>
                </form>
            </section>
        {{/each}}
    </div>
</main>