<main>
    <h1>Our Products</h1>
    {{#if failedReadMessage_Product}}
        <div id='MessageFailed' class='container-message-visible-small'>
            <div class='container-message warning-color'>
                <span class='container-message-span'>{{failedReadMessage_Product}}</span>
                <button class='button-closed' onclick="CloseMessageFailed()">
                    <svg class='icon-X' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'>
                      <path stroke-linecap='round' stroke-linejoin='round' d='M6 18 18 6M6 6l12 12' />
                    </svg>
                </button>
            </div>
        </div>
    {{/if}}
    
    {{#each products}}
        <section class='section-list-product'>
            <article class='article-result-product'>
                <img class='result' src='{{imgProduct}}' loading='lazy' alt='Representative image of the product.'>
                <div class='container-product'>
                    <div class='detail-product'>
                        <div>
                            <span>{{title}}</span>
                        </div>
                        <span>{{detail}}</span>
                    </div>

                    <div class='number-product'>
                        <div style='display: flex; gap: 5px;'>
                            <span>Amount:</span>
                            <span>{{quantity}} {{unit}}</span>
                        </div>
                        <span>Price: {{price}}</span>
                    </div>
                </div>
            </article>
        </section>
    {{/each}}
</main>