<main>
    <h1>Our Products</h1>
    <section class='section-filter'>
        <h3>Filter by</h3>
        <select name='product' id='product'>
            <option value='Select' selected hidden disabled>Select</option>
            <option value='Most relevant'>Most relevant</option>
            <option value='Lowest price'>Lowest price</option>
            <option value='Highest price'>Highest price</option>
        </select>
    </section>

    {{#each products}}
        <section class='section-list-product'>
            <article class='article-result-product'>
                <img class='result' src='{{imgProduct}}' alt='Representative image of the product.'>
                <div class='container-product'>
                    <div class='detail'>
                        <div>
                            <span>{{title}}</span>
                        </div>
                        <span>{{detail}}</span>
                        <span>Date: {{publication}}</span>
                    </div>

                    <div class='number-product'>
                        <div style='display: flex; gap: 5px;'>
                            <span>Amount:</span>
                            <span>{{quantity}} {{unit}}</span>
                        </div>
                        <span>Price: {{price}}</span>
                    </div>
                </div>
            </article>
        </section>
    {{/each}}
</main>