<main>
    <h1>Our Services</h1>
    {{#if failedReadMessage_Service}}
        <div id='MessageFailed' class='container-message-visible-small'>
            <div class='container-message warning-color'>
                <span class='container-message-span'>{{failedReadMessage_Service}}</span>
                <button class='button-closed' onclick="CloseMessageFailed()">
                    <svg class='icon-X' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'>
                      <path stroke-linecap='round' stroke-linejoin='round' d='M6 18 18 6M6 6l12 12' />
                    </svg>
                </button>
            </div>
        </div>
    {{/if}}

    {{#each services}}
        <section class='section-list'>
            <article class='article-result'>
                <img class='result-service' src='{{imgService}}' alt='Representative image of the service.'>
                <div class='container-service'>
                    <div class='detail'>
                        <span>{{title}}</span>
                        <span>{{detail}}</span>
                    </div>

                    <div class='number'>
                        <span class='span-price'>Price:</span>
                        <span class='span-price'>${{price}}</span>
                    </div>
                </div>
            </article>
        </section>
    {{/each}}
</main>